<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @association.name %>
</p>

<p>
  <b>Description:</b>
  <%= @association.description %>
</p>

<p>
  <b>Website:</b>
  <%= @association.website %>
</p>

<p>
  <b>Email:</b>
  <%= @association.email %>
</p>

<p>
  <b>Password:</b>
  <%= @association.password %>
</p>

<h3>Todos os eventos da associação</h3>

<% @association.events.each do |event| %>
<p>
  <b>Evento:</b>
  <%= event.name %>
</p>

<% end %>


<%= link_to 'Edit', edit_association_path(@association) %> |
<%= link_to 'Back', associations_path %>
