<h1>Listing feed_news</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feed_news.each do |feed_news| %>
  <tr>
    <td><%= feed_news.url %></td>
    <td><%= feed_news.name %></td>
    <td><%= link_to 'Show', feed_news %></td>
    <td><%= link_to 'Edit', edit_feed_news_path(feed_news) %></td>
    <td><%= link_to 'Destroy', feed_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed new', new_feed_news_path %>
