<div>

                    
    <% @notices.each do |notice| %>
        <h1><%= link_to h(notice.name), notice.url %></h1>
        <div><%=simple_format(notice.summary)%></div>
                 
                  
      <%end%>
          
    
  </div>


      <hr>

  <!-- Example row of columns -->
      <div class="row-fluid">
        <% @events.each do |event| %>
        <li class="span4">
            <div class="thumbnail">
                <img src="imgages/placeholder-360x200.jpg" alt="product name">
                  <div class="caption">
                    <h3><%= event.name %></h3>
                      <p><%= event.description %> </p>
                  </div>
                  <div class="widget-footer">
                    <p>
                      <%= link_to 'Show',event,:class => 'btn' %></p>
                    </p>
                  </div>
                </div>
              </li>
        <% end %>
      <hr>

