<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<legend>Please Sign In</legend>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  			<div class="span4"><%= f.label :email %><br />
  			<%= f.email_field :email, :autofocus => true %></div>

  			<div class="span4"><%= f.label :password %><br />
  			<%= f.password_field :password %></div>

  			<% if devise_mapping.rememberable? -%>
    			<label class="checkbox">
    			<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  				</label>
  			<% end -%>

  			<button class="btn btn-info btn-block"><%= f.submit "Sign in" %></button>
		<% end %>
	<div><%= render "devise/shared/links" %></div>
			
		</div>	
		</div>
	</div>
